<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <h1>Explore Your Favorite Movie Genres!</h1>
    <h2>All the Movies You Could Ever Need!</h2>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="" style="width: 10px;" height="250px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="" style="width: 10px;" height="250px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="" style="width: 10px;" height="250px" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
</div>

<div class="row">
    {{!-- movie details modal --}}'
<div class="modal fade" id= "movieModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="movieModal" aria-hidden="true">
    <div class="model-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            {{!-- Modal body with movie card --}}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addToList">Add to List</button>

            </div>
        </div>
    </div>
</div>
</div>
{{!-- Movie details modal --}}
<div class="row">
    <div class="col">
        <h3>Categories</h3>
        <ul id="categories"></ul>
    </div>
    <div class="col">
        <h3>Movies in the category</h3>
        <div id="moviesInCategory">
            <div class="card-columns" id="moviesCard"></div>
        </div>
    </div>
</div>